/IfEx.class
/IfEx2.class
/IfEx3.class
/SwitchEx.class
/SwitchEx2.class
/ForEx.class
/ForEx2.class
/Excercise1.class
/Excercise2.class
/WhileEx.class
/DoWhileEx.class
/RandomEx.class
/Gugu.class
/Gugu2.class
/Excercise3.class
/Excercise3_2.class
/Excercise4.class
/Excercise3_3.class
/Excercise7.class
/Excercise7_2.class
/Excercise8.class
/ContinueEx.class
